body{

    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.hero { 
    background-color:antiquewhite;
    background-image: url(../collagecolo.jpg);
    text-align: center;
    padding: 60px 20px;

}